html, body {
	width: 100%;
	overflow-x: hidden;
	font-size: 1.2em;
}

@font-face {
	font-family: myFranny;
	src: url(../bin/FranckLloydExtra-Regular.otf);
}

@font-face {
	font-family: helveticy;
	src: url(../bin/HelveticaNeue-UltraLight.otf);
}


* {
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 100;
}

strong {
	font-weight: 200;
}

h2 {
	font-size: 1.5em;
}

#mainTitle {
	font-size: 4em;
	font-family: myFranny;
}

#gifLogo {
	position: absolute;
}

#mainNavigation {
	width: 100%;
	border-collapse: collapse;
}

#mainNavigation div {
    position: absolute;
    /*visibility: hidden;*/
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
    cursor: pointer;
}

#mainNavigation td {
	text-align: center;
	width: 33%;
}

#underline #line{
	position: relative;
	top: 5px;
	height: 1px;
	background-color: black;
	z-index: -1;
}

#underline .highlight {
	position: absolute;
	height: 10px;
	opacity: 0.2;
	background-color: blue;
}

.panel div {
	width: 500px;
	height: 281px;
	display: inline-block;
	overflow: hidden;
}

#portfolio img {
	width: 100%;
}

a {
	text-decoration: none;
}

a:visited {
	color: #FF0000;
}