/**************/
/* Main stuff */
/**************/
	html, body {
		width: 100%;
		overflow-x: hidden;
		font-size: 1.2em;
		margin: 0;
	}

	@font-face {
		font-family: myFranny;
		src: url(../bin/FranckLloydExtra-Regular.otf);
	}

	@font-face {
		font-family: helveticy;
		src: url(../bin/HelveticaNeue-UltraLight.otf);
	}

	* {
		font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 100;
	}

	strong {
		font-weight: 200;
	}

	h2 {
		font-size: 1.5em;
	}

	span.sub {
		font-size: 20px;
	}

	a {
		text-decoration: none;
	}

	a:visited {
		color: rgb(0,0,238);
	}

/*************/
/* Masthead */
/************/
	#mainTitle {
		font-size: 4em;
		line-height: 1;
		font-family: myFranny;
	}

	#gifLogo {
		position: absolute;
	}

/**************/
/* Navigation */
/**************/
	#mainNavigation {
		width: 100%;
		border-collapse: collapse;
	}

	#mainNavigation div {
	    position: absolute;
	    /*visibility: hidden;*/
	    height: auto;
	    width: auto;
	    white-space: nowrap; /* Thanks to Herb Caudill comment */
	    cursor: pointer;
	}

	#mainNavigation h2 {
		margin: 0.5em 0;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	/*
	#mainNavigation div.selected {
		color: yellow;
	}*/

	#mainNavigation td {
		text-align: center;
		width: 33%;
	}

	#underline {
		position: relative;
		height: 1em;
		z-index: 1;
	}

	#underline #line{
		position: relative;
		top: 10px;
		height: 1px;
		background-color: black;
		z-index: -1;
	}

	#underline .highlight {
		position: absolute;
		height: 1em;
		opacity: 0.2;
	}

/*************/
/* Portfolio */
/*************/
	/***************/
	/* Main Screen */
	/***************/
		#mainScreen {
			/*border-top: 1px solid black;*/
			border-bottom: 1px solid black;
			background: radial-gradient(ellipse at center, #c9c9c9 0%,#ffffff 98%);
			position: relative;
			display: none;
			top: -0.5em;
		}

		#mainScreen iframe {
			width: 60%;
			margin: 1em 20% 0 20%;
			opacity: 0;
		}

		#mainScreen p {
			margin: 1em 20%;
			opacity: 0;
		}

		#closeSwitch {
			background-image: url("../bin/close.png");
			position: absolute;
			top: 0;
			right: 0;
			height: 50px;
			width: 50px;
			cursor: pointer;
			z-index: 4;
		}
	/**************/

	.section {
		display: none;
	}

	.panel div {
		width: 500px;
		height: 281px;
		display: inline-block;
		overflow: hidden;
	}

	#portfolio img {
		width: 100%;
		height: 100%;
	}


